.list-group-item:hover, a.list-group-item:focus {
  text-decoration: none;
  background-color: rgb(245, 245, 245);
}

.list-group {
  margin-bottom: 0px;
}

.pull-right {
  position: absolute;
  right: 5%;
}