.list-group-item {
  width: 100%;

  .input-group-text {
    margin-right: 10%;

    .answer-id {
      margin-right: 10px;
    }

    &.selected {
      background-color: #01d500 !important;
    }
  }
}

