
.cancel {
  position: absolute;
  right: 10px !important;
  top: 0.5px !important;
  padding: 0 !important;
  font-weight: bold !important;
  font-size: 1.1rem !important;
}

#tooltipText {
  padding-right: 20px;
}